<header>
  <nav>
    <h1>TITLE PLACEHOLDER</h1>
    <h1>Welcome Back!</h1>
    <ul>
      <li>
        <a href="/stories">Home</a>
      </li>
      <li>
        <a href="/stories/me/">My Story</a>
      </li>
    </ul>
  </nav>
</header>
