<header>
  <nav>
    <textarea class ='header-title'>TITLE PLACEHOLDER</textarea>
    <h1>whacky stories for whacky minds!</h1>
    <ul>
      <li>
        <a href="/stories">home</a>
      </li>
      <li>
        <a href="/stories/me/">my stories</a>
      </li>
    </ul>
  </nav>
</header>
