<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
    <h1>MY STORIES</h1>
    <div>
      <% for(let mystory of myStories) { %>
        <h1><%= mystory.title %></h1>
        <h2><%= mystory.beginning_story %> </h2>
        <!-- <h3><%= mystory.img_url %> </h3> -->
      <% } %>
      </div>
    </section>
</body>
</html>
