<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='styles/layout.css'>
  <title>Story Page</title>
</head>
<body>
  <h1>World's best Author's come here</h1>
  <section>
    <div class='browse-stories'>
      <% for(let story of stories) { %>
        <div class='story-box'>
          <div class='img-box'>
            <img src=<%= story.img_url %>>
          </div>
          <div class='story-info'
            <h1><%= story.title %></h1>
            <p><%= story.beginning_story %> </p>
          </div>
        </div>
      <% } %>
    </div>
  </section>
</body>
</html>
