.cont-body{
  display: flex;
  border: solid thin black;
  // justify-content: space-around;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .single-story-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid thin black;
    width: 70%;
    margin: 1em;

    img {
      // margin: .5em;
      align-self: center;
      display: inline-block;
      max-width: 80%;
      margin-right: 5px;
      // content: "";
      background-size: 100%;
    }

    p {
      margin: 1em;
    }

    h1 {
      margin: .5em;
    }

    h2 {
      margin: 1em
    }
  }

  .author {
    border: solid thin black;
    margin: 1em;

    .submitted-by {
      display: flex;

      p {
        margin: 3px;
      }
    }

  }

  .reader {
    border: solid thin black;
    margin: 1em;

    .submitted-by {
      display: flex;
      p {
        margin: 3px;
      }
    }

    .reader-1 {
      border: solid thin black;
      margin: 1em;
    }
  }

}

.new-cont {
  // width: 90%;
  display: flex;
  flex-direction: row-reverse;

form.contribution {
  border: solid thin black;
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 45%;
  align-items: center;

  label {
    font-size: 24px;
  }

  textarea{
    border-style: hidden;
  border-bottom: 3px solid  #545149;
  background-color: rgb(255, 224, 229);
  resize: none;
  line-height: 1.5;
  font-size: 24px;
  width: 80%;
  height: 20%;
  font-family: 'Josefin Sans', sans-serif;
  word-wrap: break-word;
  word-break: break-all;
  }

  .btn {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    width: 75%;
  }
}

}
