.form-div {
margin: 1em;
width: 35%;
color:  #50514F;

  h3 {
    margin: .5em;
    font-size: 36px;
    // font-family: "Indie Flower";
  }

  form {
    margin: 1em;
    display: flex;
    flex-direction: column;
  }

  form label {
    font-size: 28px;
    // font-family: "Indie Flower";
  }

  form textarea {
    border-style: hidden;
    border-bottom: 3px solid   #50514F;
    // background-color: #ffe5e2;
    color: #247BA0;
    resize: none;
    line-height: 1.5;
    font-size: 24px;
    width: 80%;
    font-family: 'Josefin Sans', sans-serif;
    word-wrap: break-word;
    word-break: break-all;
  }

  .btn {
    background-color: #247BA0;
    color: #FFE066;
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    width: 75%;
    outline: none;
    height: 52px;
    // background: #fb2525;
    // color: #fff;
    border-radius: 20px;
  }

  img {
   width:  100px;
   height: 100px;
   object-fit: scale-down;
   border-radius: 10px;
  }
}

