html {
  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    background-color: #EEE;
    margin: 0;
    padding: 0;

    h1 {
      color: hsl(193, 38%, 23%);
    }

  }
}
