header {
  background-color: #247BA0;
  width: 100%;
  margin: none;

  nav {

    display: flex;
    height: 175px;
    justify-content: space-between;;
    align-items: flex-end;
    padding: .5em;

        textarea{
        border-style: hidden;
        border-bottom: 3px solid  #50514F;
        background-color: #ffffff;
        resize: none;
        line-height: 1.5;
        font-size: 24px;
        // width: 80%;
        // height: 20%;
        font-family: 'Josefin Sans', sans-serif;
        word-wrap: break-word;
        // word-break: break-all;
        margin: 1em;
        font-size: 24px;
        color: #50514F;
        }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    h1 {
      font-family: 'Pacifico', cursive;
      margin: .5em;
      font-size: 48px;
      color:#FFFFF7;
        text-transform: none;
    }

    ul {
      margin: .25em;
      display: flex;
      list-style-type: none;
      font-size: 24px;
      color: #FFE066;

      li {
        margin-left: 10px;

        a {
          text-decoration: none;
        }

          a:hover {
            color: white;
          }

          a:visited {
            color: #FFE066;;
          }
      }
    }
  }
}


